<!-- /**
 * @Author: Huang LongPan
 * @Date:   2019-05-11 15:09:31
 * @Last Modified by:   Huang LongPan
 * @Last Modified time: 2019-05-14 20:15:05
 */ -->
<div class="page-sidebar" id="sidebar">
                <!-- Page Sidebar Header-->
                <div class="sidebar-header-wrapper">
                    <input class="searchinput" type="text">
                    <i class="searchicon fa fa-search"></i>
                    <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
                </div>
                <!-- /Page Sidebar Header -->
                <!-- Sidebar Menu -->
                <ul class="nav sidebar-menu">
                    <!--Dashboard-->
                   
                    <li>
                        <a href="/admin/main/index.html">
                            <i class="menu-icon fa fa-gear"></i>

                            <span class="menu-text">
                                控制面板                            </span>

                            <i class="menu-expand"></i>
                        </a>
                    </li>                        
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-gear"></i>

                            <span class="menu-text">
                                banner管理                            </span>

                            <i class="menu-expand"></i>
                        </a>
                                                <ul class="submenu">
                                                        <li>
                                <a href="{:url('admin/banner/lst')}">
                                    <span class="menu-text">
                                        banner列表                                    </span>
                                    <i class="menu-expand"></i>
                                </a>
                                                            </li>
                                                            <li>
                                <a href="{:url('admin/banner/add')}">
                                    <span class="menu-text">
                                        banner添加                                    </span>
                                    <i class="menu-expand"></i>
                                </a>
                                                            </li>
                                                            <li>
                                <a href="{:url('admin/banner/add')}">
                                    <span class="menu-text">
                                        banner回收站                                    </span>
                                    <i class="menu-expand"></i>
                                </a>
                                                            </li>
                            
                        </ul>                            
                    </li> 
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-gear"></i>

                            <span class="menu-text">
                                栏目管理                            </span>

                            <i class="menu-expand"></i>
                        </a>
                                                <ul class="submenu">
                                                        <li>
                                <a href="{:url('admin/cate/lst')}">
                                    <span class="menu-text">
                                        栏目列表                                    </span>
                                    <i class="menu-expand"></i>
                                </a>
                                                            </li>
                                                            <li>
                                <a href="{:url('admin/cate/add')}">
                                    <span class="menu-text">
                                        栏目添加                                    </span>
                                    <i class="menu-expand"></i>
                                </a>
                                                            </li>
                                                           
                            
                        </ul>                            
                    </li> 
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-gear"></i>

                            <span class="menu-text">
                                商品管理                            </span>

                            <i class="menu-expand"></i>
                        </a>
                                                <ul class="submenu">
                                                        <li>
                                <a href="{:url('admin/goods/lst')}">
                                    <span class="menu-text">
                                        商品列表                                    </span>
                                    <i class="menu-expand"></i>
                                </a>
                                                            </li>
                                                            <li>
                                <a href="{:url('admin/goods/add')}">
                                    <span class="menu-text">
                                        商品添加                                    </span>
                                    <i class="menu-expand"></i>
                                </a>
                                                            </li>
                                                           
                            
                        </ul>                            
                    </li> 
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-gear"></i>

                            <span class="menu-text">
                                板块管理                            </span>

                            <i class="menu-expand"></i>
                        </a>
                                                <ul class="submenu">
                                                        <li>
                                <a href="{:url('admin/special/lst')}">
                                    <span class="menu-text">
                                        板块列表                                    </span>
                                    <i class="menu-expand"></i>
                                </a>
                                                            </li>
                                                            <li>
                                <a href="{:url('admin/special/add')}">
                                    <span class="menu-text">
                                        板块添加                                    </span>
                                    <i class="menu-expand"></i>
                                </a>
                                                            </li>
                                                           
                            
                        </ul>                            
                    </li> 

                                        <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-gear"></i>

                            <span class="menu-text">
                                系统                            </span>

                            <i class="menu-expand"></i>
                        </a>
                                                <ul class="submenu">
                                                        <li>
                                <a href="/admin/user/index.html">
                                    <span class="menu-text">
                                        用户管理                                    </span>
                                    <i class="menu-expand"></i>
                                </a>
                                                            </li>
                                                        <li>
                                <a href="/admin/auth_group/index.html">
                                    <span class="menu-text">
                                        角色管理                                    </span>
                                    <i class="menu-expand"></i>
                                </a>
                                                            </li>
                                                        <li>
                                <a href="/admin/auth_rule/index.html">
                                    <span class="menu-text">
                                        权限列表                                    </span>
                                    <i class="menu-expand"></i>
                                </a>
                                                            </li>
                            
                        </ul>                            
                                            </li>                        
                    
                </ul>
                <!-- /Sidebar Menu -->
            </div>